:root {
  --lightPink: rgb(255, 240, 248);
  --white: rgb(255, 255, 255);
  --darkerHover: rgb(244, 161, 206);
  --darkBackground: rgb(196, 96, 149);
  --darkText: rgb(141, 68, 107);
}
/* UNIVERSAL */
body {
  background-color: var(--lightPink);
  margin: 0;
  font-family: Quicksand;
}

h1,
h2,
h3,
h4 {
  color: var(--darkBackground);
}

#LogoutButton,
.Link,
a {
  background: none;
  border: none;
  text-decoration: none;
  padding: 0;
  font-family: inherit;
}

.Dropdown > .Link:focus,
.Link:hover {
  color: var(--darkerHover);
}

#LogoutButton {
  font-size: 15px;
  position: absolute;
  padding: 10px;
  color: var(--white);
}

.Link {
  font-size: 20px;
  color: var(--white);
}

a {
  color: var(--darkBackground);
  font-size: 17px;
}

button:hover,
.LogoutBTN:hover,
a:hover {
  color: var(--darkerHover);
  scale: 120%;
}
button:hover,
input:hover,
a:hover {
  cursor: pointer;
}

#saveOrDeleteBTNBox {
  display: flex;
  gap: 1rem;
}

/*LOGIN VIEW*/
.LoginBTN {
  background-color: var(--darkBackground);
  font-family: inherit;
  font-size: 20px;
  color: var(--white);
  padding: 0.5rem;
  border: none;
  border-radius: 25px;
}

.AddBTN,
#AddSaveBTN {
  background-image: url("Images/AddBTN.png");
  background-size: cover;
  width: 40px;
  aspect-ratio: 1;
  cursor: pointer;
  border: none;
}

.EditBTN {
  background-image: url("Images/EditBTN.png");
  background-size: cover;
  width: 20px;
  aspect-ratio: 1;
  cursor: pointer;
  border: none;
}

.SaveBTN {
  background-image: url("Images/SaveBTN.png");
  background-size: cover;
  width: 25px;
  aspect-ratio: 1;
  cursor: pointer;
  border: none;
}

.DeleteBTN {
  background-image: url("Images/DeleteBTN.png");
  background-size: cover;
  width: 25px;
  aspect-ratio: 1;
  cursor: pointer;
  border: none;
}

.StartPageHeader,
.Form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.StartPageHeader {
  font-size: 25px;
  padding: 5px;
  margin: 0;
  background-color: var(--darkBackground);
  color: var(--white);
}
.Form {
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}
#LoginLabel {
  color: var(--darkText);
}

select,
input[type="text"],
[type="password"] {
  background: rgb(196, 96, 149, 0.4);
  border-radius: 25px;
  border: none;
  height: 30px;
}

.AddContent {
  display: flex;
}

.AdminHeader {
  background-color: var(--darkBackground);
}

.AdminNav {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  gap: 3rem;
}

.Dropdown {
  position: relative;
}

.DropdownMenu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: var(--lightPink);
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 2px 3px 6px 2px rgb(196, 96, 149, 0.4);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.DDOverview {
  grid-column: 1 / span 2;
}

.DDLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.DropdownMenu.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 1;
}

.PropertyContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.PropertyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PropertyTable {
  margin-bottom: 1em;
}

.PropertyTable td,
th {
  text-align: left;
  padding-left: 1rem;
}

.ColHeadline {
  color: var(--darkBackground);
}

ul {
  list-style: none;
  gap: 1em;
}
