body {
  background-color: rgb(255, 240, 248);
  margin: 0;
  font-family: Quicksand;
}

.Header {
  background-color: rgb(196, 96, 149);
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
h3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

button:hover,
input:hover,
a:hover {
  cursor: pointer;
  color: rgb(244, 161, 206);
}

.LoginBTN {
  background-color: rgb(196, 96, 149);
  font-family: Quicksand;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: 5px solid rgb(196, 96, 149);
  border-radius: 25px;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

#LoginLabel {
  color: rgb(141, 68, 107);
}

#LoginInput {
  background: rgba(196, 96, 149, 0.4);
  border-radius: 25px;
  border: none;
  height: 30px;
}

#LogoutButton {
  background-color: transparent;
  font-family: Quicksand;
  font-size: 15px;
  color: rgb(255, 255, 255);
  border: 5px solid transparent;
  border-radius: 25px;
  position: absolute;
  margin-top: 8px;
}

.AdminHeader {
  display: flex;
  width: 100%;
  justify-content: center;
}

.AdminNav {
  background-color: rgb(196, 96, 149);
  width: 90%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(255, 255, 255); /*Only ness. when not actual links*/
  font-size: 20px; /*Only ness. when not actual links*/
  border-radius: 25px;
  border: 2px solid rgb(255, 240, 248);
  margin-top: -10px;
}

.PropertyNav {
  height: 500px;
  width: 150px;
  background-color: rgb(196, 96, 149);
  margin-left: 1em;
  border-radius: 25px;
}

.LinkContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 20px;
  gap: 1em;
}

.PropertyContainer {
  display: flex;
}

.PropertyContent {
  display: flex;
  justify-content: center;
  width: 100vh;
}

a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
}
