body {
  background-color: rgba(232, 167, 243, 0.4);
  margin: 0;
}

h1 {
  color: rgb(46, 30, 49);
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StartPage {
  display: grid;
  gap: 2em;
}
